@charset "UTF-8";
/* mobile */
/* landscape */
/* portrait */
/* desktop */
/*

@import '../breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {}

*/
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  text-wrap: nowrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
button:hover {
  background: #cc7639 !important;
}

a,
span,
b,
h1,
h2,
h3,
h4,
h5 {
  font-size: 20px;
  text-wrap: nowrap;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
a:hover {
  color: #FF974F !important;
}
a:active {
  scale: 0.95 !important;
}

.wrapper {
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}

.messengers > a:hover {
  scale: 1.1;
}

/* mobile */
/* landscape */
/* portrait */
/* desktop */
/*

@import '../breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {}

*/
header > .topHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  margin: 0 0 5px 0;
}
header > .topHeader > .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
header > .topHeader > .logo > img {
  width: 200px;
  height: 60px;
}
header > .topHeader > .links {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
header > .topHeader > .links > a {
  font-size: 18px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header > .topHeader > .links > a > svg > path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header > .topHeader > .links > a:hover > svg > path {
  color: #FF974F;
  fill: #FF974F;
  background-color: #FF974F;
}
header > .topHeader > .links > .active {
  color: #FF974F;
  padding: 0 0 5px 0;
  border-bottom: 2px solid #FF974F;
}
header > .topHeader > .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
header > .topHeader > .user > img {
  width: 36px;
  height: 36px;
}
header > .bottomHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  max-height: 36px;
  max-height: 36px;
}
header > .bottomHeader > .search {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
}
header > .bottomHeader > .search > input {
  width: 100%;
  padding: 0 15px 0 15px;
  border-radius: 25px 0 0 25px;
  background: transparent;
}
header > .bottomHeader > .search > button {
  border-radius: 25px;
  width: 100px;
  background-color: #FF974F;
  color: white;
}
header > .bottomHeader > .buttonHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header > .bottomHeader > .buttonHeader > button {
  padding: 0 15px 0 15px;
  border-radius: 15px;
  width: 100%;
  background-color: #FF974F;
  color: white;
  height: auto;
}
header > .bottomHeader > .messengers {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
header > .bottomHeader > .messengers > a > img {
  width: 36px;
  height: 36px;
}
header > .mobileHeader {
  display: none;
}
header > .menu {
  display: none;
}

@media only screen and (min-width: 1770px) {
  header > .topHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    margin: 0 0 5px 0;
  }
  header > .topHeader > .logo > img {
    width: 200px;
    height: 60px;
  }
  header > .topHeader > .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
  header > .topHeader > .links > a {
    font-size: 18px;
    color: black;
  }
  header > .topHeader > .links > .active {
    color: #FF974F;
    border-bottom: 2px solid #FF974F;
  }
  header > .topHeader > .user > img {
    width: 36px;
    height: 36px;
  }
  header > .bottomHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    max-height: 36px;
    max-height: 36px;
  }
  header > .bottomHeader > .search {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
  }
  header > .bottomHeader > .search > input {
    width: 100%;
    padding: 0 15px 0 15px;
    border-radius: 25px 0 0 25px;
    background: transparent;
  }
  header > .bottomHeader > .search > button {
    border-radius: 25px;
    width: 100px;
    background-color: #FF974F;
    color: white;
  }
  header > .bottomHeader > .buttonHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header > .bottomHeader > .buttonHeader > button {
    padding: 0 15px 0 15px;
    border-radius: 15px;
    width: 100%;
    background-color: #FF974F;
    color: white;
    height: auto;
  }
  header > .bottomHeader > .messengers {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  header > .bottomHeader > .messengers > a > img {
    width: 36px;
    height: 36px;
  }
  header > .mobileHeader {
    display: none;
  }
  header > .menu {
    display: none;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  header > .topHeader {
    gap: 30px;
  }
  header > .topHeader > .logo > img {
    width: 120px;
    height: 60px;
  }
  header > .topHeader > .links {
    gap: 30px;
  }
  header > .topHeader > .links > a {
    font-size: 16px;
  }
  header > .topHeader > .user > img {
    width: 28px;
    height: 28px;
  }
  header > .bottomHeader > .messengers {
    gap: 20px;
  }
  header > .bottomHeader > .messengers > a > img {
    width: 28px;
    height: 28px;
  }
  header > .mobileHeader {
    display: none;
  }
  header > .menu {
    display: none;
  }
}
@media only screen and (min-width: 10px) and (max-width: 1023px) {
  header {
    background-color: white;
  }
  header > .topHeader {
    display: none;
  }
  header > .bottomHeader {
    display: none;
  }
  header > .mobileHeader {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 5000;
    width: 100%;
    padding: 12px 23px;
    top: 0;
  }
  header > .mobileHeader > img {
    width: 160px;
  }
  header > .mobileHeader > .burgerButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header > .mobileHeader > .burgerButton > .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  header > .mobileHeader > .burgerButton > .menu-btn > span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #222222;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header > .mobileHeader > .burgerButton > .menu-btn > span:nth-of-type(2) {
    display: block;
    top: calc(50% - 5px);
  }
  header > .mobileHeader > .burgerButton > .menu-btn > span:nth-of-type(3) {
    display: block;
    top: calc(50% + 5px);
  }
  header > .mobileHeader > .burgerButton > .menu-btn.active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > .mobileHeader > .burgerButton > .menu-btn.active > span:nth-of-type(1) {
    opacity: 0;
  }
  header > .mobileHeader > .burgerButton > .menu-btn.active > span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
  }
  header > .mobileHeader > .burgerButton > .menu-btn.active > span:nth-of-type(3) {
    top: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(-45deg);
            transform: translate(-50%, 0%) rotate(-45deg);
  }
  header > .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    z-index: 1;
    overflow: scroll;
    height: 100vh;
  }
  header > .menu > .accordionBurger > .accordion__item {
    border-top-color: transparent;
    border-bottom-color: rgba(85, 85, 85, 0.5);
  }
  header > .menu > .accordionBurger > .accordion__item > .accordion__header {
    color: black;
    padding: 0.75rem 0.4rem;
  }
  header > .menu > .accordionBurger > .accordion__item > .accordion__header::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF974F'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  header > .menu > .accordionBurger > .accordion__item > .accordion__body > .accordion__content > a {
    color: black;
  }
  header > .menu > .buttonHeader {
    padding: 0 20px 20px 20px;
  }
  header > .menu > .buttonHeader > button {
    padding: 10px 5px 10px 5px;
    font-size: 16px;
    border-radius: 25px;
    width: 100%;
    background-color: #FF974F;
    color: white;
    height: 40px;
  }
  header > .menu > .searchWrapper {
    padding: 0 20px 20px 20px;
  }
  header > .menu > .searchWrapper > .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 25px;
    background: white;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 2px solid #FF974F;
    height: 40px;
  }
  header > .menu > .searchWrapper > .search > input {
    border-radius: 25px;
    padding: 0 15px 0 15px;
    width: 100%;
  }
  header > .menu > .searchWrapper > .search > button {
    padding: 0px 5px 0px 5px;
    border: 4px solid #FF974F;
    font-size: 16px;
    border-radius: 25px;
    background-color: #FF974F;
    color: white;
    width: 15%;
  }
  header > .menu > .messengers {
    padding: 0 20px 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header > .menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: block;
  }
}
/* mobile */
/* landscape */
/* portrait */
/* desktop */
/*

@import '../breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {}

*/
.uniquePlaces {
  margin-bottom: 100px;
}
.uniquePlaces > h2 {
  margin-bottom: 20px;
}
.uniquePlaces > .tab > .tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  overflow-x: scroll;
}
.uniquePlaces > .tab > .tab-nav > .tab-btn {
  color: black;
  padding: 0 0 3px 0;
  cursor: pointer;
}
.uniquePlaces > .tab > .tab-nav > .tab-btn-active {
  pointer-events: none;
  color: black;
  font-weight: 500;
  border-bottom: 2px solid #FF974F;
  padding: 0 0 3px 0;
}
.uniquePlaces > .tab > .tab-content > .tab-pane:not(.tab-pane-show) {
  display: none;
}
.uniquePlaces > .tab > .tab-content > .tab-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem {
  max-width: 300px;
  -webkit-box-shadow: 0px 0px 15px -5px #000;
          box-shadow: 0px 0px 15px -5px #000;
  border-radius: 25px;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 15px -5px #000;
          box-shadow: 0px 0px 15px -5px #000;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo {
  padding: 0px 10px 10px 10px;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div {
  margin-bottom: 15px;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > p {
  color: #707070;
  font-weight: 300;
  font-size: 12px;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button {
  background: transparent;
  padding: 5px 10px;
  border: 2px solid #FF974F;
  border-radius: 10px;
  width: 100%;
}
.uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button:hover {
  background: #FF974F !important;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .uniquePlaces {
    margin-bottom: 100px;
  }
  .uniquePlaces > h2 {
    margin-bottom: 20px;
  }
  .uniquePlaces > .tab > .tab-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .uniquePlaces > .tab > .tab-nav > .tab-btn {
    color: black;
    padding: 0 0 3px 0;
    cursor: pointer;
  }
  .uniquePlaces > .tab > .tab-nav > .tab-btn-active {
    pointer-events: none;
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #FF974F;
    padding: 0 0 3px 0;
    cursor: pointer;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane:not(.tab-pane-show) {
    display: none;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem {
    max-width: 300px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
    border-radius: 25px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > img {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo {
    padding: 0px 10px 10px 10px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div {
    margin-bottom: 15px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > p {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
    width: 100%;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button:hover {
    background: #FF974F !important;
  }
}
@media only screen and (max-width: 767px) {
  .uniquePlaces {
    margin-bottom: 100px;
  }
  .uniquePlaces > h2 {
    margin-bottom: 20px;
  }
  .uniquePlaces > .tab > .tab-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    overflow-x: scroll;
  }
  .uniquePlaces > .tab > .tab-nav > .tab-btn {
    color: black;
    padding: 0 0 3px 0;
  }
  .uniquePlaces > .tab > .tab-nav > .tab-btn-active {
    pointer-events: none;
    color: black;
    font-weight: 500;
    border-bottom: 2px solid #FF974F;
    padding: 0 0 3px 0;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane:not(.tab-pane-show) {
    display: none;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem {
    max-width: 250px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
    border-radius: 25px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo {
    padding: 0px 10px 10px 10px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div {
    margin-bottom: 15px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > div > p {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
    width: 100%;
  }
  .uniquePlaces > .tab > .tab-content > .tab-pane > .uniquePlacesItem > .itemInfo > button:hover {
    background: #FF974F !important;
  }
}
/* mobile */
/* landscape */
/* portrait */
/* desktop */
/*

@import '../breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {}

*/
.services {
  margin-bottom: 100px;
}
.services > h2 {
  margin-bottom: 20px;
}
.services > .servicesBlock {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.services > .servicesBlock > .servicesItem {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 15px -5px #000;
          box-shadow: 0px 0px 15px -5px #000;
}
.services > .servicesBlock > .servicesItem > img {
  width: 100%;
  min-width: 250px;
  max-width: 450px;
  min-height: 100px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.services > .servicesBlock > .servicesItem > .servicesItemInfo {
  padding: 10px 10px 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > h2 {
  text-wrap: wrap;
  font-size: 20px;
}
.services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > p {
  color: #707070;
  font-weight: 300;
  font-size: 12px;
}
.services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button {
  background: transparent;
  padding: 5px 10px;
  border: 2px solid #FF974F;
  border-radius: 10px;
}
.services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button:hover {
  background: #FF974F !important;
}

@media only screen and (min-width: 1770px) {
  .services {
    margin-bottom: 100px;
  }
  .services > h2 {
    margin-bottom: 20px;
  }
  .services > .servicesBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .services > .servicesBlock > .servicesItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .services > .servicesBlock > .servicesItem > img {
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    min-height: 100px;
    max-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo {
    padding: 10px 10px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > h2 {
    text-wrap: wrap;
    font-size: 24px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > p {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button:hover {
    background: #FF974F !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .services {
    margin-bottom: 100px;
  }
  .services > h2 {
    margin-bottom: 20px;
  }
  .services > .servicesBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .services > .servicesBlock > .servicesItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .services > .servicesBlock > .servicesItem > img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo {
    padding: 10px 10px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > h2 {
    text-wrap: wrap;
    font-size: 24px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > p {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
    width: 100%;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button:hover {
    background: #FF974F !important;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .services {
    margin-bottom: 100px;
  }
  .services > h2 {
    margin-bottom: 20px;
  }
  .services > .servicesBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .services > .servicesBlock > .servicesItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
    grid-template-columns: 60% 40%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .services > .servicesBlock > .servicesItem > img {
    width: 100%;
    min-width: 250px;
    max-width: 450px;
    min-height: 100px;
    max-height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo {
    padding: 10px 10px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > h2 {
    text-wrap: wrap;
    font-size: 16px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > p {
    color: #707070;
    font-weight: 200;
    font-size: 12px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button:hover {
    background: #FF974F !important;
  }
}
@media only screen and (max-width: 767px) {
  .services {
    margin-bottom: 100px;
  }
  .services > h2 {
    margin-bottom: 20px;
  }
  .services > .servicesBlock {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .services > .servicesBlock > .servicesItem {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 15px -5px #000;
            box-shadow: 0px 0px 15px -5px #000;
  }
  .services > .servicesBlock > .servicesItem > img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo {
    padding: 10px 10px 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 25px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > h2 {
    text-wrap: wrap;
    font-size: 20px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:first-child > p {
    color: #707070;
    font-weight: 300;
    font-size: 12px;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button {
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #FF974F;
    border-radius: 10px;
    width: 100%;
  }
  .services > .servicesBlock > .servicesItem > .servicesItemInfo > div:last-child > button:hover {
    background: #FF974F !important;
  }
}
footer {
  background-color: #1E1A1A;
  padding: 80px 0;
}
footer > .wrapper > .footerDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
footer > .wrapper > .footerDesktop > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer > .wrapper > .footerDesktop > div > h2 {
  margin-bottom: 20px;
  color: #FF974F;
}
footer > .wrapper > .footerDesktop > div > a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .logo {
  margin-bottom: 20px;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts {
  margin: 0 0 25px 0;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > h2 {
  color: #FF974F;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > p {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > a {
  font-weight: 800;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a {
  background-color: #FF974F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  border-radius: 15px;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a > img {
  width: 25px;
  height: 25px;
}
footer > .wrapper > .footerDesktop > .mainInfoFooter > p {
  color: white;
  font-size: 16px;
  margin-bottom: 15px;
}

.accordion {
  display: none !important;
}

@media only screen and (min-width: 1770px) {
  footer {
    background-color: #1E1A1A;
    padding: 80px 0;
  }
  footer > .wrapper > .footerDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div > h2 {
    margin-bottom: 20px;
    color: #FF974F;
  }
  footer > .wrapper > .footerDesktop > div > a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .logo {
    margin-bottom: 20px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts {
    margin: 0 0 25px 0;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > h2 {
    color: #FF974F;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > p {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > a {
    font-weight: 800;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a {
    background-color: #FF974F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    border-radius: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a > img {
    width: 25px;
    height: 25px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > p {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  footer {
    background-color: #1E1A1A;
    padding: 80px 0;
  }
  footer > .wrapper > .footerDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div > h2 {
    margin-bottom: 20px;
    color: #FF974F;
    font-size: 20px;
  }
  footer > .wrapper > .footerDesktop > div > a {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 14px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .logo {
    margin-bottom: 20px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts {
    margin: 0 0 25px 0;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > h2 {
    color: #FF974F;
    font-size: 24px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > p {
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > a {
    font-weight: 800;
    font-size: 18px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a {
    background-color: #FF974F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    border-radius: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a > img {
    width: 25px;
    height: 25px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > p {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer {
    background-color: #1E1A1A;
    padding: 80px 0;
  }
  footer > .wrapper > .footerDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div {
    display: none;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .logo {
    margin-bottom: 20px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts {
    margin: 0 0 25px 0;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > h2 {
    color: #FF974F;
    font-size: 24px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > p {
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > a {
    font-weight: 800;
    font-size: 18px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a {
    background-color: #FF974F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    border-radius: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a > img {
    width: 25px;
    height: 25px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > p {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .accordion {
    display: block !important;
  }
  .accordion__item {
    margin-bottom: 0.5rem;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }
  .accordion__item > .accordion__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75rem 1rem;
    color: #FF974F;
    font-weight: 600;
    font-size: 20px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .accordion__item > .accordion__header::after {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  .accordion__header .accordion__item_show .accordion__header::after,
  .accordion__item_slidedown .accordion__header::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .accordion__content {
    padding: 0.75rem 1rem;
    background: transparent;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    display: -ms-grid;
    display: grid;
    gap: 40px;
  }
  .accordion__content > a {
    font-size: 16px;
  }
  .accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  footer {
    background-color: #1E1A1A;
    padding: 80px 0;
  }
  footer > .wrapper > .footerDesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  footer > .wrapper > .footerDesktop > div {
    display: none;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .logo {
    margin-bottom: 20px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts {
    margin: 0 0 25px 0;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > h2 {
    color: #FF974F;
    font-size: 24px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > p {
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .contacts > a {
    font-weight: 800;
    font-size: 18px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a {
    background-color: #FF974F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    border-radius: 15px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > .messengers > a > img {
    width: 25px;
    height: 25px;
  }
  footer > .wrapper > .footerDesktop > .mainInfoFooter > p {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .accordion {
    display: block !important;
  }
  .accordion__item {
    margin-bottom: 0.5rem;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }
  .accordion__item > .accordion__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75rem 0.25rem;
    color: #FF974F;
    font-weight: 600;
    font-size: 20px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
  }
  .accordion__item > .accordion__header::after {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  .accordion__header .accordion__item_show .accordion__header::after,
  .accordion__item_slidedown .accordion__header::after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .accordion__content {
    padding: 0.75rem 0.5rem;
    background: transparent;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    display: -ms-grid;
    display: grid;
    gap: 40px;
  }
  .accordion__content > a {
    font-size: 16px;
  }
  .accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
  }
}
/* адаптив */
/* mobile */
/* landscape */
/* portrait */
/* desktop */
/*

@import '../breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {}

@media only screen and (max-width: $mobile) {}

*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    padding: 0 20px;
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 1500px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .wrapper {
    padding: 0 30px;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
  }
}
@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 1500px;
  }
}