@import './varibles.scss';
@import './breaks.scss';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

button {
	cursor: pointer;
	text-wrap: nowrap;
	transition: .5s;

	&:hover {
		background: $mainBgColorHover !important;
	}
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
	font-size: 20px;
	text-wrap: nowrap;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: white;
	transition: .35s;

	&:hover {
		color: $mainBgColor !important;
	}

	&:active {
		scale: 0.95 !important;
	}

}

.wrapper {
	padding: 0 40px;
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}

.messengers {
	&>a {
		&:hover {
			scale: 1.1
		}
	}
}


@import './styleComponets/header.scss';





//< !-- slider -->
//< !-- map -->
//< !-- Unique places-->

@import './styleComponets/services.scss';

//< !-- Last minute tours -->
//< !-- additional information -->



@import './styleComponets/footer.scss';