@import './varibles.scss';
@import './breaks.scss';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
	width: 0;
	height: 0;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased
}

button {
	cursor: pointer;
	text-wrap: nowrap;
	transition: .5s;

	&:hover {
		background: $mainBgColorHover !important;
	}
}

a,
span,
b,
h1,
h2,
h3,
h4,
h5 {
	font-size: 20px;
	text-wrap: nowrap;
}

h1 {
	font-size: 48px;
}

h2 {
	font-weight: 600;
	font-size: 28px;
}

a {
	text-decoration: none;
	color: white;
	transition: .35s;

	&:hover {
		color: $mainBgColor !important;
	}

	&:active {
		scale: 0.95 !important;
	}

}

.wrapper {
	padding: 0 40px;
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}

.messengers {
	&>a {
		&:hover {
			scale: 1.1
		}
	}
}


@import './styleComponets/header.scss';
//< !-- slider -->
//< !-- map -->
@import './styleComponets/uniquePlaces.scss';
@import './styleComponets/services.scss';
//< !-- Last minute tours -->
//< !-- additional information -->
@import './styleComponets/footer.scss';



/* адаптив */
@import './breaks.scss';

@media only screen and (min-width: $desktopWide) {}

@media only screen and (min-width: $tabletPortraitMin) and (max-width: $tabletPortraitMax) {
	.wrapper {
		padding: 0 20px;
		margin: 0 auto;
		width: 100%;
		max-width: 1500px;
	}
}

@media only screen and (min-width: $tabletLandscapeMin) and (max-width: $tabletLandscapeMax) {
	.wrapper {
		padding: 0 30px;
		margin: 0 auto;
		width: 100%;
		max-width: 1500px;
	}
}

@media only screen and (max-width: $mobile) {
	.wrapper {
		padding: 0 10px;
		margin: 0 auto;
		width: 100%;
		max-width: 1500px;
	}
}